body {
	background-color: rgb(80,80,80);
	font-family: sans-serif;
	max-width: 100%;
	margin: auto;
	background-image: url("Images/back2.jpg");
}

/*Barre de navigation*/
nav {
	background-color: rgb(50,50,50);
	max-width: 100%;
	max-height: 55px;
	display: flex;
	border-bottom: 1px solid;
}

@media only screen
  and (max-width: 700px)
{
	.nav-left {
		max-width: 100%;
		text-align: center;
	}

	.nav-left img {
		max-width: 15%;
		margin: auto;
	}

	nav .nav-search {
		display: none
	}

	.nav-menu {
		display: none
	}

	.nav-right {
		display: none
	}
}

@media only screen
	and (min-width: 700px)
    and (max-width: 900px)
{
	header .nav-search{
		display: none;
	}
	.nav-left {
		max-width: 12%;
	}

	.nav-left img {
		max-width: 100%;
		margin: auto;
	}

	.nav-search {
		max-width: 80%;
		margin: auto;
		text-align: center;
	}

	.nav-search ul {
		list-style-type: none;
		max-width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}

	.nav-search li {
		margin-top: auto;
		margin-bottom: auto;
	}

	.nav-search select {
		background-color: rgb(200, 200, 200);
		border-left: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.nav-search input {
		background-color: white;
		line-height: 1.3em;
		border: none;
	}

	.nav-search ul :nth-child(-n+2){
		max-width: 100%;
	}

	.nav-search ul :nth-child(3){
		max-width: 1.2em;
	}

	.nav-search img {
		background-color: white;
		margin-top: 3px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-left: 1px solid;
	}
    .nav-menu {
    	display: none;
    }
    .nav-right {
		max-width: 5%;
	}

	.nav-right img {
		max-width: 75%;
		margin: auto;
	}
}

@media only screen
  and (min-width: 900px)
{
	header .nav-search {
		display: none;
	}
	.nav-left {
		max-width: 12%;
	}

	.nav-left img {
		max-width: 100%;
		margin: auto;
	}
	.nav-search {
		max-width: 55%;
		margin: auto;
		text-align: center;
	}

	.nav-search ul {
		list-style-type: none;
		max-width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}

	.nav-search li {
		margin-top: auto;
		margin-bottom: auto;
	}

	.nav-search select {
		background-color: rgb(200, 200, 200);
		border-left: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.nav-search input {
		background-color: white;
		line-height: 1.3em;
		border: none;
	}

	.nav-search ul :nth-child(-n+2){
		max-width: 100%;
	}

	.nav-search ul :nth-child(3){
		max-width: 1.2em;
	}

	.nav-search img {
		background-color: white;
		margin-top: 3px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-left: 1px solid;
	}

    .nav-menu {  
		max-width: 28%;
		margin: auto;
	}

	.nav-menu ul {
		list-style-type: none;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}

	.nav-menu li {
		float: left;
	}

	.nav-menu a {
		text-decoration: none;
	  	color: white;
	  	font-size: 15px;
	  	padding: 10px;
	}

	.nav-menu a:hover {
	  	background-color: white;
	  	color: black;
	}

	.nav-right {
	max-width: 5%;
	margin-left: auto;
	}

	.nav-right img {
		max-width: 75%;
		margin: auto;
	}
}
/*Fin de la barre de navigation*/

header{
	background-color: rgb(50, 50, 50);
	max-width: 80%;
	margin: auto;
}

/*Les articles*/
article {
	background-color: white;
	max-width: 80%;
	margin: auto;
	border-bottom: 1px  dotted;
}

/*Article principal*/

#main_article {
	max-width: 100%;
	margin: auto;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen
  and (max-width:1150px)
{
	#main_article {
		display: block;
	}
}

#main_image {
	max-width: 10%;
	margin: auto;
	padding: 3em;
	padding-right: 20%;
	padding-left: 20%;
	text-align: center;
	border: 1px solid;
}
#main_image img {
	max-width: 100%;
}

#description {
	list-style-type: none;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(210, 210, 210);
	border-radius: 10px;
	margin: auto;
}

#description h2{
	font-family: sans-serif ;
}

/*Articles similaires*/
#similaires h4 {
	font-size: 24px;
	text-align: center;
	margin: 0;
	padding-top: 2em;
	padding-bottom: 1em;
}

#liste_articles {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	margin:auto;
	padding:0;
	max-width: 80%;
	padding-bottom: 1em;
}

#liste_articles li {
	max-width: 20%;
	text-align: center;	
}

#liste_articles img {
	max-width: 40%;
}

/*Commentaire*/
#commentaire {
	padding-left: 5em;
	padding-bottom: 5em;
}
#prix {
	font-size: 2em;
	margin: 0;
}
#stock {
	display: inline-flex;
	background-color: yellow;
	border-radius: 3px;
}

.bouton {
	text-decoration: none;
	background-color: black;
	color: white;
	font-size: 16px;
	cursor: pointer;
	border: solid 1px;
	border-radius: 20px;
	padding: 15px 25px;
	text-align: center;
}

.bouton:hover{
	background-color: white;
	color:black;
}

#text_com{
	display: flex;
}

textarea {
	max-width: 60%;
	max-height: 50%;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid;
}

/*Adaptation mobile*/
@media only screen
  and (max-width: 700px)
{
	#liste_articles {
		max-width: 100%;
		justify-content: space-around;
	}

	#description {
		margin: auto;
	}
	#commentaire {
		padding: 0;
	}
	#liste_articles :nth-child(5){
		display: none;
	}

	header .nav-search {
		max-width: 100%;
		margin: auto;
		text-align: center;
	}

	header .nav-search ul {
		list-style-type: none;
		max-width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
	}

	header .nav-search li {
		margin-top: auto;
		margin-bottom: auto;
	}

	header .nav-search select {
		background-color: rgb(200, 200, 200);
		border-left: 1px solid;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	#selector{
		max-width: 30%;
	}
	header .nav-search input {
		background-color: white;
		line-height: 1.3em;
		border: none;
	}
	header .nav-search img {
		background-color: white;
		margin-top: 3px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-left: 1px solid;
		max-width: 100%;
		max-height: 1.2em;
	}
}
@media only screen
  and (max-width: 600px)
{
	#main_article button{
		display: flex;
		flex-direction: column;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	#description {
		padding-left: 0;
		padding-bottom: 2em;
	}
}
@media only screen
  and (max-width: 500px)
{
	#liste_articles :nth-child(4){
		display: none;
	}
}

/*Fin des articles*/

/*Pied de page*/
footer{
	background-color: rgb(50,50,50);
	max-width: 80%;
	margin: auto;
}
footer li{
	max-width: 30%;
	color: white;
}
footer ul{
	display: flex;
	padding: 0;
	margin:0;
	justify-content: space-around;
	list-style-type: none;
}
footer a{
	text-decoration: none;
	color: white;
}